.a,.b,.c{
    width: 25%;
    height: 100px;
    color: rgb(248, 242, 242);
    font-size: 4em;
    text-align: center;
    line-height: 100px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.a{
    background-color: red;
    margin-left: 10%;
}

.b{
    background-color: green;
}

.c{
    background-color: orange;
}

/*media queries para que se vean los bloques uno debajo del otro en móvil*/
@media (max-width:618px){
    .a,.b,.c{
        width: 80%;
        height: 50px;
        line-height: 50px;
        font-size: 2em;
        margin-left: 10%;
    }
}